@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Bodoni+Moda:wght@400;500&family=Cormorant+Garamond:wght@300&family=Crimson+Text&family=DM+Serif+Display&family=Figtree:wght@400;600&family=Manrope:wght@400;600&family=Montserrat:wght@400;600&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Bodoni+Moda:wght@400;500&family=Cormorant+Garamond:wght@300&family=Crimson+Text&family=DM+Serif+Display&family=Figtree:wght@400;600&family=Frank+Ruhl+Libre:wght@300&family=Manrope:wght@400;600&family=Montserrat:wght@400;600&family=Playfair+Display&family=Roboto+Slab:wght@300&family=Slabo+27px&display=swap');
* {
    margin: 0px;
    padding: 0px;
    line-height: 1.3em;
    letter-spacing: 0.03em;
    font: {
        family: 'Roboto Slab', serif;
        size: 20px;
        weight: 100;
    }  
}
$zlatnaBoja: #b58240;
@mixin pozicija {
    display: flex;
    align-items: center;
    justify-content: end;
}
@mixin hr {
    width: 25%;
    margin: 15px auto;
    margin-bottom: 100px;
    border: 1px solid $zlatnaBoja;
}
@mixin h1 {
    padding-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 40px;
}
@mixin pozicija {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: #fff;
}
html {
    scroll-behavior: smooth;
}
header {  
    height: 715px;
    background-image: url('../images/pozadina1.gif');
    padding-top: 30px;
    #meni {
        @include pozicija;
    }
    img {
        width: 90px;
    }
    #logo, #navigacija {
        width: 45%;
    }
    h1 {
        font-size: 45px;
        color: $zlatnaBoja;
        font-family: 'Bodoni Moda', serif;
    }
    nav ul {
        list-style-type: none;
        span {
            color: $zlatnaBoja;
        }
        li {
            display: inline;
            a {
                margin-left: 70px;
            }
            a:hover {
                color: $zlatnaBoja;
                transition: 0.2s;
            }
        }
    }
    #cover {
        width: 40%;
        text-align: left;
        margin-left: 300px;
        h1 {
            color: #fff;
            font-size: 80px;
            font-weight: 200;
            margin-top: 180px;
        }
        hr {
            width: 11%;
            float: left;
            border: 1px solid $zlatnaBoja;
            margin-top: 5px;
        }
        h2 {
            color: $zlatnaBoja;
            font-weight: 200;
        }
      }
    }
#skew, #skew1 {
    display: inline-block;
    width: 50%;
    height: -10px;
    padding-bottom: 80px;
    margin-top: -30px;
    background-color: #121212;
}
#skew {
    float: left;
    transform: skewY(4deg);
}
#skew1 {   
    transform: skewY(-4deg);
}
main {
    position: relative;
    top: -50px;
    padding-top: 50px;
    width: 100%;
    height: 800px;
    background-color: #121212;
    hr {
        @include hr;
    }
    p {
        color: #fff;
        margin: 20px;
        font-size: 20px;
    }
    h1{
        @include h1;
    }
    #o-meni {
        overflow-y: hidden;
        @include pozicija;
        #tabela {
            width: 32%;
            height: 300px;
            margin-right: 20px;
            span {
                color: $zlatnaBoja;
            }
            p {
                text-align: left;
            }
        }
        #skills {
            float: right;
            width: 40%;
            height: 300px;
            img {
                width: 300px;
                float: right;
            }
        }  
    }
    #prvi_blok {
        padding-bottom: 50px;
        #o-meni-tekst {
            width: 50%;
            border: 2px solid $zlatnaBoja;
            margin: 0px auto;
            margin-top: 29px;
            padding: 10px;
        }
        p {
            text-align: center;
            line-height: 1.5em;
        }
    }
    #drugi_blok {
        height: 780px;
        background-color: #1f1f1f;
        h1 {
            @include h1;
            padding-top: 80px;
        }
        hr {
            @include hr;
        }
        h2 {
            color: $zlatnaBoja;
            text-align: center;
            font-size: 24px;
        }
        p {
            font-size: 17px;
            line-height: 1.5em;
            text-align: center;
        }
        #grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-template-rows: repeat(4, minmax(300px, auto));
            justify-content: center;
        }
        #utisci {
        height: 1500px;
        width: 80%;
        margin: 0px auto;
        @include pozicija;
            .utisci_blok {
                margin-bottom: 250px;
                transition: all 0.4s;
                h2 {
                    padding: 20px 0px;
                }
                img {
                    margin-left: 100px;
                    width: 40%;
                    box-shadow: 8px 8px rgba(0, 0, 0, 0.4);
                }
            }
            .utisci_blok:hover {
                background-color: #121212;
            }
        }
    }
}