@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Bodoni+Moda:wght@400;500&family=Cormorant+Garamond:wght@300&family=Crimson+Text&family=DM+Serif+Display&family=Figtree:wght@400;600&family=Manrope:wght@400;600&family=Montserrat:wght@400;600&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Bodoni+Moda:wght@400;500&family=Cormorant+Garamond:wght@300&family=Crimson+Text&family=DM+Serif+Display&family=Figtree:wght@400;600&family=Frank+Ruhl+Libre:wght@300&family=Manrope:wght@400;600&family=Montserrat:wght@400;600&family=Playfair+Display&family=Roboto+Slab:wght@300&family=Slabo+27px&display=swap");
* {
  margin: 0px;
  padding: 0px;
  line-height: 1.3em;
  letter-spacing: 0.03em;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 715px;
  background-image: url("../images/pozadina1.gif");
  padding-top: 30px;
}
header #meni {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header img {
  width: 90px;
}
header #logo, header #navigacija {
  width: 45%;
}
header h1 {
  font-size: 45px;
  color: #b58240;
  font-family: "Bodoni Moda", serif;
}
header nav ul {
  list-style-type: none;
}
header nav ul span {
  color: #b58240;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  margin-left: 70px;
}
header nav ul li a:hover {
  color: #b58240;
  transition: 0.2s;
}
header #cover {
  width: 40%;
  text-align: left;
  margin-left: 300px;
}
header #cover h1 {
  color: #fff;
  font-size: 80px;
  font-weight: 200;
  margin-top: 180px;
}
header #cover hr {
  width: 11%;
  float: left;
  border: 1px solid #b58240;
  margin-top: 5px;
}
header #cover h2 {
  color: #b58240;
  font-weight: 200;
}

#skew, #skew1 {
  display: inline-block;
  width: 50%;
  height: -10px;
  padding-bottom: 80px;
  margin-top: -30px;
  background-color: #121212;
}

#skew {
  float: left;
  transform: skewY(4deg);
}

#skew1 {
  transform: skewY(-4deg);
}

main {
  position: relative;
  top: -50px;
  padding-top: 50px;
  width: 100%;
  height: 800px;
  background-color: #121212;
}
main hr {
  width: 25%;
  margin: 15px auto;
  margin-bottom: 100px;
  border: 1px solid #b58240;
}
main p {
  color: #fff;
  margin: 20px;
  font-size: 20px;
}
main h1 {
  padding-top: 10px;
  color: #fff;
  text-align: center;
  font-size: 40px;
}
main #o-meni {
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main #o-meni #tabela {
  width: 32%;
  height: 300px;
  margin-right: 20px;
}
main #o-meni #tabela span {
  color: #b58240;
}
main #o-meni #tabela p {
  text-align: left;
}
main #o-meni #skills {
  float: right;
  width: 40%;
  height: 300px;
}
main #o-meni #skills img {
  width: 300px;
  float: right;
}
main #prvi_blok {
  padding-bottom: 50px;
}
main #prvi_blok #o-meni-tekst {
  width: 50%;
  border: 2px solid #b58240;
  margin: 0px auto;
  margin-top: 29px;
  padding: 10px;
}
main #prvi_blok p {
  text-align: center;
  line-height: 1.5em;
}
main #drugi_blok {
  height: 780px;
  background-color: #1f1f1f;
}
main #drugi_blok h1 {
  padding-top: 10px;
  color: #fff;
  text-align: center;
  font-size: 40px;
  padding-top: 80px;
}
main #drugi_blok hr {
  width: 25%;
  margin: 15px auto;
  margin-bottom: 100px;
  border: 1px solid #b58240;
}
main #drugi_blok h2 {
  color: #b58240;
  text-align: center;
  font-size: 24px;
}
main #drugi_blok p {
  font-size: 17px;
  line-height: 1.5em;
  text-align: center;
}
main #drugi_blok #grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(4, minmax(300px, auto));
  justify-content: center;
}
main #drugi_blok #utisci {
  height: 1000px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main #drugi_blok #utisci .utisci_blok {
  margin-top: 250px;
  transition: all 0.4s;
}
main #drugi_blok #utisci .utisci_blok p {
  font-size: 10px;
}
main #drugi_blok #utisci .utisci_blok h2 {
  padding: 20px 0px;
}
main #drugi_blok #utisci .utisci_blok img {
  margin-left: 90px;
  width: 40%;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.4);
}
main #drugi_blok #utisci .utisci_blok:hover {
  background-color: #121212;
}
main #treci_blok {
  background-color: #121212;
  width: 100%;
  height: 500px;
}
main #treci_blok h1 {
  padding-top: 10px;
  color: #fff;
  text-align: center;
  font-size: 40px;
}/*# sourceMappingURL=style.css.map */