@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Bodoni+Moda:wght@400;500&family=Cormorant+Garamond:wght@300&family=Crimson+Text&family=DM+Serif+Display&family=Figtree:wght@400;600&family=Manrope:wght@400;600&family=Montserrat:wght@400;600&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Bodoni+Moda:wght@400;500&family=Cormorant+Garamond:wght@300&family=Crimson+Text&family=DM+Serif+Display&family=Figtree:wght@400;600&family=Frank+Ruhl+Libre:wght@300&family=Manrope:wght@400;600&family=Montserrat:wght@400;600&family=Playfair+Display&family=Roboto+Slab:wght@300&family=Slabo+27px&display=swap');
* {
    margin: 0px;
    padding: 0px;
    line-height: 1.3em;
    letter-spacing: 0.03em;
    font: {
        family: 'Roboto Slab', serif;
        size: 20px;
        weight: 100;
    }  
}
$zlatnaBoja: #b58240;
$bledoZlatna: #f3e1cb;
@mixin pozicija {
    display: flex;
    align-items: center;
    justify-content: end;
}
@keyframes levitate {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}
a {
    text-decoration: none;
    color: #fff;
}
html {
    scroll-behavior: smooth;
}
header {  
    height: 715px;
    background-image: url('../images/pozadina1.gif');
    padding-top: 30px;
    #meni {
        @include pozicija;
    }
    img {
        width: 90px;
    }
    #logo, #navigacija {
        width: 45%;
    }
    h1 {
        font-size: 45px;
        color: $zlatnaBoja;
        font-family: 'Bodoni Moda', serif;
    }
    nav ul {
        list-style-type: none;
        span {
            color: $zlatnaBoja;
        }
        li {
            display: inline;
            a {
                margin-left: 70px;
            }
            a:hover {
                color: $zlatnaBoja;
                transition: 0.2s;
            }
        }
    }
    #cover {
        width: 40%;
        text-align: left;
        margin-left: 300px;
        h1 {
            color: #fff;
            font-size: 80px;
            font-weight: 200;
            margin-top: 180px;
        }
        hr {
            width: 11%;
            float: left;
            border: 1px solid $zlatnaBoja;
            margin-top: 5px;
        }
        h2 {
            color: $zlatnaBoja;
            font-weight: 200;
        }
      }
    }
#skew, #skew1 {
    display: inline-block;
    width: 50%;
    height: 50px;
    padding-bottom: 80px;
    margin-top: -30px;
    background-color: #121212;
}
#skew {
    float: left;
    transform: skewY(4deg);
}
#skew1 {   
    transform: skewY(-4deg);
}
main {
    position: relative;
    top: -50px;
    padding-top: 50px;
    width: 100%;
    height: 800px;
    background-color: #121212;
    #o-meni h1{
        padding-top: 20px;
        color: #fff;
        text-align: center;
        font-size: 40px;
    }
    hr {
        width: 25%;
        margin: 15px auto;
        border: 1px solid $zlatnaBoja;
    }
    p {
        color: #fff;
        margin: 20px;
        font-size: 20px;
    }
}